//
// ${lastUpdated?string('dd.MM.yyyy')}
// Auto generated based off the Ethereum tests found here:
// https://github.com/ethereum/tests/blob/develop/VMTests/
//
#include "catch.hpp"
#include <evm/utils.h>
#include <evm/vm.h>
#include <evm/hex.h>
#include <evm/return_data.h>
#include <evm/call.h>
#include <evm/gasometer.h>
#include <evm/big_int.h>
#include "external_mock.h"

<#list tests as test>
TEST_CASE("${test.name}______${test.fixture._info.sourceHash}", "[vm]") {
  env_t env = {
    uint256_t(1), /* chainId */
    BigInt::fromHex("${test.fixture.env.currentNumber[2..]}"), /* blockNumber */
    BigInt::fromHex("${test.fixture.env.currentTimestamp[2..]}"), /* timestamp */
    BigInt::fromHex("${test.fixture.env.currentGasLimit[2..]}"), /* gasLimit */
    BigInt::fromHex("${test.fixture.env.currentCoinbase[2..]}"), /* coinbase */
    BigInt::fromHex("${test.fixture.env.currentDifficulty[2..]}"), /* difficulty */
    BigInt::fromHex("${(test.fixture.env.previousHash[2..])!""}") /* blockHash */
  };

  std::string bytecode_str = "${test.fixture.exec.code[2..]}";
  <#if test.fixture.exec.data[2..]?has_content>
  bytes_t data_bytes = Hex::hexToBytes("${test.fixture.exec.data[2..]}");
  <#else>
  bytes_t data_bytes = bytes_t();
  </#if>

  params_t params = {
    BigInt::fromHex("${test.fixture.exec.address[2..]}"), /* codeAddress*/
    uint256_t(0xf9313a), /* codeHash */
    uint256_t(0x193821), /* codeVersion */
    BigInt::fromHex("${test.fixture.exec.address[2..]}"), /* address */
    BigInt::fromHex("${test.fixture.exec.caller[2..]}"), /* sender */
    BigInt::fromHex("${test.fixture.exec.origin[2..]}"), /* origin */
    gas_t(${test.fixture.exec.gas}), /* gas */
    BigInt::fromHex("${test.fixture.exec.gasPrice[2..]}"), /* gasPrice */
    BigInt::fromHex("${test.fixture.exec.value[2..]}"), /* value */
    Hex::hexToBytes(bytecode_str), /* code */
    data_bytes /* data */
  };

  ExternalMock ext {};
  <#if test.fixture.pre.accountState.storage?has_content>
  <#list test.fixture.pre.accountState.storage?keys as key>
  ext.storageResponder.push_back(std::make_pair(
    uint256_t(${key}),
    Hex::hexToBytes("${test.fixture.pre.accountState.storage[key]}")
  ));
  </#list>
  </#if>

  VM vm {};
  Call call(0);
  AccountState accountState(&ext);
  Gasometer gasometer(params.gas);
  Memory mem {};
  StackMachine sm {};

  // when
  vm.execute(mem, sm, accountState, gasometer, params, ext, call, env);

  // then
  <#if test.fixture.post??>
  <#list test.fixture.post.accountState.storage?keys as key>
  CHECK("${test.fixture.post.accountState.storage[key]}" ==
    <#if key?length <= 8>
    Utils::uint256_2str(accountState.get(${key}))
    <#else>
    Utils::uint256_2str(
      accountState.get(
        BigInt::fromHex("${key[2..]}")
      )
    )
    </#if>
  );
  </#list>
  </#if>
}

</#list>