import com.memtrip.eos.chain.actions.transaction.TransactionContext
import com.memtrip.eos.http.rpc.Api
import com.memtrip.evm.eos.Config
import com.memtrip.evm.eos.SetupTransactions
import com.memtrip.evm.eos.AccountIdentifier
import com.memtrip.evm.eos.state.GetAccountState
import com.memtrip.evm.eos.actions.execute.ExecuteAction
import com.memtrip.evm.ethereum.EthereumTransaction
import com.memtrip.evm.ethereum.toHexString
import com.memtrip.evm.ethereum.toHexBytes
import com.memtrip.evm.ethereum.pad256
import com.memtrip.evm.ethereum.AccountStateKey
import okhttp3.OkHttpClient
import okhttp3.logging.HttpLoggingInterceptor
import org.junit.Assert.assertEquals
import org.junit.Test
import java.math.BigInteger
import java.util.concurrent.TimeUnit
import com.memtrip.evm.eos.TestTransaction
import com.memtrip.evm.eos.faultTolerant
import com.memtrip.evm.eos.transactionDefaultExpiry
import com.memtrip.evm.assertConsoleError

//
// ${lastUpdated?string('dd.MM.yyyy')}
// Auto generated based off the Ethereum tests found here:
// https://github.com/ethereum/tests/blob/develop/VMTests/
//
class ${groupName} {
    private val okHttpClient = OkHttpClient.Builder()
        .addInterceptor(HttpLoggingInterceptor().setLevel(HttpLoggingInterceptor.Level.BODY))
        .connectTimeout(10, TimeUnit.SECONDS)
        .readTimeout(10, TimeUnit.SECONDS)
        .writeTimeout(10, TimeUnit.SECONDS)
        .build()

    private val chainApi = Api(Config.CHAIN_API_BASE_URL, okHttpClient).chain

    private val setupTransactions = SetupTransactions(chainApi)

    private val executeAction = ExecuteAction(chainApi)

    private val getAccountState = GetAccountState(chainApi)

    <#list tests as test>
    <#if !test.fixture._info.unitOnly>
    @Test
    fun `${test.name}______${test.fixture._info.sourceHash}`() {

        // given
        val (newAccountName, newAccountPrivateKey, newEthAccount) = setupTransactions.seed()
        val accountIdentifier = AccountIdentifier.create(newAccountName, newEthAccount.address)

        // when
        <#if test.fixture.pre.accountState.storage?has_content>
        <#list test.fixture.pre.accountState.storage?keys as key>
        val store1 = faultTolerant {
            setupTransactions.sstore(
                newAccountName,
                newAccountPrivateKey,
                newEthAccount,
                AccountStateKey.create(accountIdentifier.pad256(), ${key}),
                "${test.fixture.pre.accountState.storage[key]}"
            ).blockingGet()
        }
        assertEquals(202, store1.statusCode)
        </#list>
        </#if>

        // and when
        val transaction = EthereumTransaction(
            1 + ${test.fixture.pre.accountState.storage?size},
            BigInteger("${test.fixture.exec.gasPrice[2..]}", 16),
            BigInteger("${test.fixture.exec.gas[2..]}", 16),
            BigInteger("${test.fixture.exec.value[2..]}", 16),
            "${test.fixture.exec.data}"
        )

        val signedTransaction = transaction.sign(newEthAccount).signedTransaction.toHexString()
        val response = faultTolerant {
            executeAction.pushTransaction(
                newAccountName,
                signedTransaction,
                accountIdentifier.toHexString(),
                "${test.fixture.exec.code[2..]}",
                TransactionContext(
                    newAccountName,
                    newAccountPrivateKey,
                    transactionDefaultExpiry()
                )
            ).blockingGet()
        }

        // then
        TestTransaction(newAccountName, accountIdentifier, response)

        <#if test.fixture.post?? && test.fixture.post.failure??>
        assertEquals(500, response.statusCode)
        response.assertConsoleError("${test.fixture.post.failure}".toUpperCase())
        <#else>
        assertEquals(202, response.statusCode)
        </#if>

        // and then
        <#if test.fixture.post??><#if test.fixture.post.accountState??>
        <#list test.fixture.post.accountState.storage?keys as key>
        // ${key}
        val value_${key} = getAccountState.getValue(
            newAccountName,
            <#if key?length <= 8>
            AccountStateKey.create(accountIdentifier.pad256(), ${key})
            <#else>
            AccountStateKey.create(accountIdentifier.pad256(), "${key[2..]}".toHexBytes())
            </#if>
        ).blockingGet()
        assertEquals("${test.fixture.post.accountState.storage[key]}", value_${key})

        </#list>
        </#if></#if>
    }
    </#if>
    </#list>
}